* {
	box-sizing: border-box;
	font-family: ‘Lato’, sans-serif;
	margin: 0;
	padding: 0;
}

.container-header {
	height: 80px;
	width: 100%;
	background-color: #004d40;
}
.topnav {
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
}
.topnav input {
  float: right;
  padding: 6px;
  border: none;
  font-size: 17px;
}
.topnav i {
	padding: 8px;
	background-color: #39796b;
	color: white;
}
.container {
	display: flex;
	margin: 0 auto;
	width: 1080px;
	height: 100%;
	flex-wrap: wrap;
}
.container-card {
	padding: 50px;
}
.card {
	height: 400px;
	flex-basis: 300px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #004d40;
	border-radius: 10px;
	margin: 10px;
}
.card-film {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.card-film p {
	padding: 5px 0;
}
#titolo {
	font-size: 20px;
	color: white;
}
#titolo-orig {
	color: lightgrey;
}
#lingua-orig {
	color: lightgrey;
}
#voto {
	color: lightgrey;
}
.card img {
	height: 180px;
	margin-bottom: 20px;
}
