* {
	box-sizing: border-box;
	font-family: ‘Lato’, sans-serif;
	margin: 0;
	padding: 0;
}

.container-header {
	height: 80px;
	width: 100%;
	background-color: lightgrey;
}
.topnav {
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
}
.topnav input {
  float: right;
  padding: 6px;
  border: none;
  font-size: 17px;
}
.topnav i {
	padding: 6px;
	background-color: grey;
	color: white;
}
.container {
	display: flex;
	margin: 0 auto;
	width: 1080px;
	height: 100%;
	flex-wrap: wrap;
}
.container-card {
	padding: 50px;
}
.card {
	height: 300px;
	flex-basis: 200px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: grey;
	border-radius: 10px;
	margin: 10px;
}
.card h3 {
	color: white;
}
.card p {
	color: white;
}
.card img {
	height: 180px;
	margin-bottom: 20px;
}
